<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianbao.mapper.AssetMapper">

    <insert id="insert" parameterType="com.qianbao.domain.Asset">
        <selectKey keyProperty="assetID" resultType="int" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO tbAsset(
        `assetNumber`,
        `productName`,
        `productType`,
        `basicAsset`,
        `productSize`,
        `creditor`,
        `posteriorSubscriber`,
        `subPosteriorSubscriber`,
        `priorSubscriber`,
        `expectedProfitRate`,
        `paymentWay`,
        `spv`,
        `differencePaymentPromiser`,
        `ratingOrganisation`,
        `accountingFirm`,
        `lawFirm`,
        `createTime`,
        `modifyTime`,
        `comment`,
        `state`
        ) values(
        #{assetNumber},
        #{productName},
        #{productType},
        #{basicAsset},
        #{productSize},
        #{creditor},
        #{posteriorSubscriber},
        #{subPosteriorSubscriber},
        #{priorSubscriber},
        #{expectedProfitRate},
        #{paymentWay},
        #{spv},
        #{differencePaymentPromiser},
        #{ratingOrganisation},
        #{accountingFirm},
        #{lawFirm},
        #{createTime},
        #{modifyTime},
        #{comment},
        #{state}
        )
    </insert>

    <select id="findByRoleID" parameterType="int" resultType="com.qianbao.domain.Asset">
        SELECT a.* FROM tbAsset a
        LEFT JOIN tbRole_Asset b on a.state = b.state
        WHERE b.roleID = #{roleID};
    </select>

    <select id="findOneByAssetID" parameterType="int" resultType="com.qianbao.domain.Asset">
        SELECT * FROM tbAsset
        WHERE assetID = #{assetID}
    </select>

    <select id="findAll" resultType="com.qianbao.domain.Asset">
        SELECT * FROM tbAsset
    </select>

    <select id="findByUserID" parameterType="int" resultType="com.qianbao.domain.Asset">
        SELECT * FROM tbAsset a
        LEFT JOIN tbUser_Asset b on a.assetID = b.assetID
        WHERE b.userID = #{userID}
    </select>

    <select id="findWrapperInfo" resultType="com.qianbao.domain.AssetWrapper">
        SELECT * FROM (
          SELECT a.state, a.stateName, b.url, b.urlAlt FROM tbState_StateName a
          LEFT JOIN tbRole_Asset b ON a.state = b.state
          <if test="roleID != 1">
          AND b.roleID = #{roleID}
          </if>
        ) c WHERE c.state = #{state}
    </select>

    <update id="update">
        UPDATE tbAsset
        SET state = #{state}, modifyTime = #{modifyTime}
        WHERE assetID = #{assetID}
    </update>

    <insert id="recordDebts">
        INSERT INTO tbAsset_Debt
        (assetID, debtNumber)
        VALUES
        <foreach collection="debtNumbers" item="item"  separator=",">
        (#{assetID}, #{item})
        </foreach>
    </insert>
</mapper>