<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianbao.mapper.AssetMapper">

    <insert id="insert" parameterType="com.qianbao.domain.Asset">
        INSERT INTO tbAsset(
        `assetNumber`,
        `productName`,
        `productType`,
        `basicAsset`,
        `productSize`,
        `creditor`,
        `posteriorSubscriber`,
        `subPosteriorSubscriber`,
        `priorSubscriber`,
        `expectedProfitRate`,
        `paymentWay`,
        `spv`,
        `differencePaymentPromiser`,
        `ratingOrganisation`,
        `accountingFirm`,
        `lawFirm`,
        `createTime`,
        `modifyTime`,
        `comment`,
        `state`
        ) values(
        #{assetNumber},
        #{productName},
        #{productType},
        #{basicAsset},
        #{productSize},
        #{creditor},
        #{posteriorSubscriber},
        #{subPosteriorSubscriber},
        #{priorSubscriber},
        #{expectedProfitRate},
        #{paymentWay},
        #{spv},
        #{differencePaymentPromiser},
        #{ratingOrganisation},
        #{accountingFirm},
        #{lawFirm},
        #{createTime},
        #{modifyTime},
        #{comment},
        #{state}
        )
    </insert>

    <select id="findByRoleID" parameterType="int" resultType="com.qianbao.domain.Asset">
        SELECT a.* FROM tbAsset a
        LEFT JOIN tbRole_Asset b on a.state = b.state
        WHERE b.roleID = #{roleID};
    </select>

    <select id="findOneByAssetID" parameterType="int" resultType="com.qianbao.domain.Asset">
        SELECT * FROM tbAsset
        WHERE assetID = #{assetID}
    </select>

    <select id="findAll" resultType="com.qianbao.domain.Asset">
        SELECT * FROM tbAsset
    </select>

    <select id="findByUserID" parameterType="int" resultType="com.qianbao.domain.Asset">
        SELECT * FROM tbAsset a
        LEFT JOIN tbUser_Asset b on a.assetID = b.assetID
        WHERE b.userID = #{userID}
    </select>
</mapper>